---
import CombatFeatureCell from "@/components/equipos/CombatFeatureCell.astro"
import Typography from "@/components/Typography.astro"
import { BOXERS } from "@/consts/boxers"
import type { Player } from "@/types/Boxer"

interface Props {
	boxerIds: string[]
}

type RelevantKey = keyof Pick<Player, "name" | "country" | "weight" | "height" | "age">
const relevantKeys: RelevantKey[] = ["name", "country", "weight", "height", "age"]

const relevantBoxerData: Record<RelevantKey, { label: string; concat?: string }> = {
	name: {
		label: "",
	},
	country: {
		label: "País",
	},
	weight: {
		label: "Peso",
		concat: "kg",
	},
	height: {
		label: "Altura",
		concat: "m",
	},
	age: {
		label: "Edad",
		concat: "años",
	},
}

const { boxerIds } = Astro.props

const boxers = boxerIds
	.map((id) => BOXERS.find((boxer) => boxer.id === id))
	.filter((b): b is Player => !!b)
const middleIndex = Math.ceil(boxers.length / 2)
const leftBoxers = boxers.slice(0, middleIndex)
const rightBoxers = boxers.slice(middleIndex)
---

<section class="pt-40">
	<Typography as="h2" variant="h2" color="white" class:list={"text-center"}>
		Características
	</Typography>
	<Typography
		as="p"
		variant="body"
		color="neutral"
		class:list={"mx-auto mt-4 text-wrap text-center"}
	>
		Datos relevantes de los boxeadores
	</Typography>
	<table class="mt-10 w-full table-fixed text-center text-white lg:text-lg">
		<tbody>
			{
				relevantKeys.map((key) => {
					const { label, concat } = relevantBoxerData[key]
					return (
						<tr class="mb-10 bg-gradient-to-b from-black/0 via-transparent/40 to-transparent/40 p-4">
							{leftBoxers.map((boxer) => (
								<CombatFeatureCell boxer={boxer} featureKey={key} concat={concat} />
							))}
							<td class="w-48 text-primary">{label}</td>
							{rightBoxers.map((boxer) => (
								<CombatFeatureCell boxer={boxer} featureKey={key} concat={concat} />
							))}
						</tr>
					)
				})
			}
		</tbody>
	</table>
</section>
